
#course_logo{
  margin: 200px auto;
  width: 400px;
  height: 400px;
  animation: rotateMyImage 20s linear infinite;
}

#course_logo img{
  width: 100%;
}

@keyframes rotateMyImage {
  0%{
    transform: rotate(0deg);
   }
100%{
    transform: rotate(360deg);
   }
}